@page "/pedidos/nuevos"
@using Proyecto.Shared.Modelo;
@inject HttpClient http
@inject NavigationManager navegar
<h3>Nuevo pedido</h3>

<EditForm Model="elPedido" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="txtNombre" class="form-label"> Nombre</label>
        <InputText id="txtNombre" class="form-control" @bind-Value="elPedido.Nombre" />
        <ValidationMessage For="(()=> elPedido.Nombre)" />
    </div>

    <div class="mb-3">
        <label for="txtTeléfono" class="form-label"> Telefono</label>
        <InputText id="txtTelefono" class="form-control" @bind-Value="elPedido.Teléfono" />
        <ValidationMessage For="(()=> elPedido.Teléfono)" />
    </div>

    <div class="mb-3">
        <label for="txtFecha" class="form-label"> Fecha</label>
        <InputText id="txtFecha" class="form-control" @bind-Value="elPedido.Fecha" />
        <ValidationMessage For="(()=> elPedido.Fecha)" />
    </div>
    <button type="submit" class="btn btn-primary"> Guardar </button>
    <button type="button" class="btn btn-danger" @onclick="Cancelar">Cancelar</button>

</EditForm>

@code {
    private Pedido elPedido = new Pedido();
    private async void Guardar()
    {
      
        await http.PostAsJsonAsync("api/pedidos", elPedido);
        navegar.NavigateTo("/pedidos");
    }

    private void Cancelar()
    {
        navegar.NavigateTo("/pedidos");
    }

}